<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (game()) {
      <div>
        <h2 data-cy="gameDetailsHeading"><span>Game</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ game()!.id }}</span>
          </dd>
          <dt><span>Season</span></dt>
          <dd>
            @if (game()!.season) {
              <div>
                <a [routerLink]="['/season-suit-nba', game()!.season?.id, 'view']">{{ game()!.season?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/game-suit-nba', game()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
