<div>
  <h2 id="page-heading" data-cy="TeamInSeasonHeading">
    <span>Team In Seasons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-in-season-suit-nba"
        [routerLink]="['/team-in-season-suit-nba/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down">Create a new Team In Season</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Team In Season</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="Search for Team In Season"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (teamInSeasons?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Team In Seasons found</span>
    </div>
  }

  @if (teamInSeasons && teamInSeasons.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="team.id">
              <div class="d-flex">
                <span>Team</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="season.id">
              <div class="d-flex">
                <span>Season</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (teamInSeason of teamInSeasons; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/team-in-season-suit-nba', teamInSeason.id, 'view']">{{ teamInSeason.id }}</a>
              </td>
              <td>
                @if (teamInSeason.team) {
                  <div>
                    <a [routerLink]="['/team-suit-nba', teamInSeason.team.id, 'view']">{{ teamInSeason.team.teamName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (teamInSeason.season) {
                  <div>
                    <a [routerLink]="['/season-suit-nba', teamInSeason.season.id, 'view']">{{ teamInSeason.season.seasonName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/team-in-season-suit-nba', teamInSeason.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/team-in-season-suit-nba', teamInSeason.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(teamInSeason)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
